.header-appbar {
    border-radius: 0;
    text-align: center;
    padding: 15px;
  }
  .header-left {
    display: flex;
    align-items: center;
  }
  .header-logo {
    height: 60px;
    margin-left: 10px;
    margin-right: 30px;
  }
  .header-search {
    width: 100%; 
    max-width: 360px; 
    margin-right: 10px;
  }
  .header-right {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }
  .header-icon-button {
    font-size: 24px;
  }
  .header-link {
    font-size: 17px;
    font-weight: 600;
    line-height: 20.5px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    transition: color 0.3s;
  }
  .header-link:hover {
    color: rgb(66, 216, 201);
  }